.idea/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/
env/
dist/
build/
*.egg-info/
AIPartnerPYTHON/app/Online/output/
AIPartnerPYTHON/app/Online/training/**/Qwen/
**/target/
**/.classpath
**/.project
**/.settings/
**/*.iml
**/.DS_Store
