<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.aipartner.mapper.IndividualStudyPlanningMapper">
    <resultMap id="learningPathMap" type="com.example.aipartner.pojo.LearningPathsAndKnowledgePoints">
      <id property="pathId" column="path_id"/>
      <result property="userId" column="user_id"/>
      <result property="title" column="title"/>
      <result property="description" column="lp_description"/>
      <collection property="knowledgePoints" ofType="com.example.aipartner.pojo.KnowledgePoints">
        <id property="conceptId" column="concept_id"/>
        <result property="dayNum" column="day_num"/>
        <result property="displayName" column="display_name"/>
        <result property="description" column="kp_description"/>
        <result property="difficulty" column="difficulty"/>
        <result property="subject" column="subject"/>
      </collection>
    </resultMap>


    <insert id="createIndividualStudyPlanning" useGeneratedKeys="true" keyProperty="pathId">
        insert into db_aipartner.learning_paths(user_id, title, description)
        VALUES (#{userId}, #{title}, #{description})
    </insert>
    <insert id="createKnowledgePoints">
        insert into db_aipartner.knowledge_points(day_num, display_name, description, difficulty, subject, path_id)
        VALUES
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.day_num}, #{item.display_name}, #{item.description}, #{item.difficulty}, #{item.subject},#{pathId})
        </foreach>
    </insert>
    <select id="GetLearnPlaning" resultMap="learningPathMap">
        select *,
               lp.description as lp_description,
               kp.description as kp_description
        from db_aipartner.learning_paths lp
        right join db_aipartner.knowledge_points kp on lp.path_id = kp.path_id
        where user_id = #{userId}
    </select>
    <select id="listLearnPlaning" resultType="com.example.aipartner.pojo.LearningPaths">
        select * from db_aipartner.learning_paths
        where user_id = #{userId}
    </select>
    <select id="listKnowledgePoints" resultType="com.example.aipartner.pojo.KnowledgePoints">
        select * from db_aipartner.knowledge_points
        where path_id = #{pathId}
    </select>

</mapper>